<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav>
<header th:fragment="navbarFragment">
    <div class="container">
        <a href="/">
            <img src="/images/IBA Logo.svg" class="logo" alt="Logo">
        </a>
        <ul class="menu">
                <li class="active"><a href="/">HOME</a></li>
                <li class="project"><a href="/articles">PROJECT</a>
                <li class="project"><a href="https://few-play-e97.notion.site/IBA-bece9763d72f4d8a8fe76e7bf8058c69?pvs=4" target="_blank">NOTION</a>
                <li class="recruit"><a href="/recruit">RECRUIT</a></li>
                <li class="project"><a href="/faq">F&Q</a></li>
            </ul>

            <ul class="member">
                <li class="nav-item" id="authLink"> </li>
                <li class="nav-item">
                    <a href="/adminLogin">ADMIN</a>
                </li>
            </ul>
    </div>
    <hr>
</header>
</nav>